{% extends 'library/layout.html'%}
{% load static %}
{% block title %}{{object.subject}}{% endblock %}
{% block script %}
  <script src="{% static 'emails/email_details.js' %}"></script>
{% endblock %}
{% block body %}
  <!-- Display alerts -->
  <div class="row">
    <div id="alertContainer" class="col">
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>ERROR!</strong> {{message}}
            </div>
          {% endif %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>SUCCES!</strong> {{message}}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <!-- Include mail dashbord -->
  {% include "emails/mailbox_dashboard.html" %}

  <!-- Display email data -->
  <div class="row bg-white">
    <div class="p-3 col">
      <h6 class="my-3"> <span class="me-3 text-muted">From: </span>
        {% if object.sender.email %}
          <a class="me-2" href="{% url 'users:profile' object.sender.pk %}">{{object.sender.email}}</a>
        {% else %}
          Library Staff
        {% endif %}
      </h6>
      <h6 class="my-3"> <span class="me-3 text-muted">To: </span>
        {% for recipient in object.recipients.all %}
          <a class="me-2" href="{% url 'users:profile' recipient.pk %}">{{recipient.email}}</a>
        {% endfor %}
      <h6 class="my-3"> <span class="me-3 text-muted">Subject: </span>{{object.subject}}</h6>
      <h6 class="my-3"> <span class="me-3 text-muted">On: </span>{{object.timestamp}}</h6>
      <h6 class="my-3"> <span class="me-3 text-muted">Read: </span>{{object.read}}</h6>
      <h6 class="my-3"> <span class="me-3 text-muted">Archived: </span> <span id="archivedInfo">{{object.archived}}</span></h6>

      <a href="{% url 'emails:email_delete' object.pk %}"><button class="btn btn-outline-danger" type="button" name="button">Delete</button></a>
      {% if object.archived %}
        <button id="unarchiveBtn" data-emailpk={{object.pk}} class="btn btn-outline-secondary" type="button" name="button">Unarchive</button>
        <button id="archiveBtn" data-emailpk={{object.pk}} class="d-none btn btn-outline-secondary" type="button" name="button">Archive</button>
      {% else %}
        <button id="unarchiveBtn" data-emailpk={{object.pk}} class="d-none btn btn-outline-secondary" type="button" name="button">Unarchive</button>
        <button id="archiveBtn" data-emailpk={{object.pk}} class="btn btn-outline-secondary" type="button" name="button">Archive</button>
      {% endif %}

      <!-- User can't reply his own emails and system emails-->
      {% if object.sender != user and object.sender %}
        <a href="{% url 'emails:email_reply' object.pk %}"><button class="btn btn-outline-dark" type="button" name="button">Reply</button></a>
      {% endif %}

      <hr class="my-4">
      <p>{{object.body|linebreaks}}</p>
    </div>
  </div>

{% endblock %}
